.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}

.cover-img {
    width: 1600px;
    object-fit:cover;
    height: 300px;
}

h2.titulo-portada{
    color: white;
    font-size: 5vw;
}

.btn-send{
    background-color: goldenrod;
}

textarea{
    resize: none;
    /* height: 130px; */
  }

.form-control{
    height: auto;
}