<div class="col-9">
    <div class="row justify-content-left">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <div class="card">
                
                    <h3 class="formTitle">Inicio de Sesión</h3>
                        <div *ngIf="showError" class="alert alert-danger" role="alert">
                            {{errorMessage}}
                        </div>

                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <img src="/assets/ico/mail-icon.svg" class="ICO">
                                <input type="email" id="inputEmail3" placeholder="Email" class="form-control"  formControlName="email"/>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <img src="/assets/ico/contraseña-ico.svg" class="ICO">
                                <input type="password" id="inputPassword3"  placeholder="Contraseña" class="form-control" formControlName="password"/>
                            </div> 
                        </div>
                    </div><br/>

                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-11">
                            <button type="submit" class="loginboton" [disabled]="!loginForm.valid">
                                Iniciar sesión
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>