.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.tarjetas .col-10 {
    margin-bottom: 20px;
  }

.cover-img {
    width: 1600px;
    object-fit:cover;
    height: 600px;
}

h2.titulo-portada{
    color: rgb(255, 255, 255);
    font-size: 4vw;
}

.bold{
    color: rgb(122, 140, 155);
}

.last-text{
    background-color: rgb(232, 234, 236);
    color: rgb(122, 140, 155);
}

.who-we-are{
    background-color:rgb(44, 171, 235);
    width: 76%;
}

.tarjetas{
    border-radius: 5%;
    height: 455px;
    background-color: rgb(232, 234, 236);
    border: 2px solid rgb(44, 171, 235);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tarjetas h5{
    color: rgb(122, 140, 155);
}


h3.bold{
    color: rgb(122, 140, 155);
}

.btn-send{
    background-color: goldenrod;

}
.btn-send:hover:enabled{
    background-color:rgb(238, 204, 118);;
}

textarea{
    resize: none;
    /* height: 130px; */
  }

.input-alert{
    color: crimson;   
}

.contacto{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SLIDER PUBLICITARIO */

.carousel {
    overflow: hidden;
    /* padding-left: 14%; */
  }
  
.picsum-img-wrapper img {
    width: 970px;
    height: 250px;
  }
  


  