<!--************** Imagen Portada ***************--> 
<div class="container-fluid  px-0">
    <div class="row mx-0 text-center">
        <div class="container-fluid thumbnail  px-0">
            <!-- <img class="cover-img img-fluid" src="../../assets/img/portada_home.jpg" alt="portada"> -->
            <video [muted]="true" autoplay class="cover-img img-fluid" loop>
                <source autoplay src="../../assets/Videos/VideoPortada_2.mp4" type="video/mp4">
            </video>
            <div class="caption">
                <h2 class="titulo-portada">Soluciones en obras Civiles</h2>
            </div>
        </div>    
    </div>
</div>

<div class="container-fluid pb-5 who-we-are">
    <div class="row text-center pt-5">
        <h1 class="bold text-white">¿Quienes somos?</h1>
    </div>
    <div class="row pt-5 d-flex justify-content-center">
        <div class="col-8 ">
            <h3 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iure ex sequi. Consequatur minima sit necessitatibus. Dolorem beatae magni, a ipsam pariatur natus quibusdam qui quidem ullam autem tempore, modi fuga, unde sint? Unde maiores nihil dolore ducimus veniam adipisci. Provident atque iure iusto praesentium fugiat? Tempore eaque voluptatem iusto.</h3>
        </div>
    </div>
</div>

<!-- Tarjetitas -->

    <div class="container pb-5 pt-5">
       <div class="row d-flex justify-content-center">
            <div class=" col-10  col-lg-4 d-flex justify-content-center pb-5">
                <div class="col shadow tarjetas">
                    <h3 class="bold text-center pt-3">Misión</h3>
                    <div class="row d-flex justify-content-center">
                        <div class="col-10">
                            <h5>Somos un equipo de trabajo dedicado a brindar servicios de construcción en diversos rubros, flexible y ajustable a las necesidades de nuestros clientes.</h5>
                        </div>
                    </div>
                    
                </div> 
            </div>


            <div class="col-10 col-lg-4   d-flex justify-content-center pb-5">
                <div class="col  shadow tarjetas ">
                    <h3 class="bold text-center pt-3">Visión</h3>
                    <div class="row d-flex justify-content-center">
                        <div class="col-10 ">
                            <h5 >Ser una empresa constructora eficiente en la que los clientes puedan confiar trabajando con honestidad, profesionalismo, calidad, competitividad, cumpliendo con los plazos y costos pactados.</h5>
                        </div>
                    </div>
                </div> 
            </div>



            <div class="col-10 col-lg-4  d-flex justify-content-center pb-5">
                <div class="col  shadow tarjetas">
                    <h3 class="bold text-center pt-3">Compromiso</h3>
                    <div class="row d-flex justify-content-center">
                        <div class="col-10">
                            <h5>Centramos nuestros objetivos en entregar un producto terminado en el tiempo estipulado, garantizando la seguridad en Obra y calidad de los trabajos, hecho que a través de los años se ve reflejado en la confianza que cada cliente deposita en nosotros.</h5>
                            <h5>Trabajamos y construimos con responsabilidad y honestidad. Contamos con un equipo capacitado que busca en todo momento mejorar sus prestaciones, con la intención de día a día brindar un mejor servicio.</h5>
                        </div>
                    </div>
                    
                </div> 
            </div>

        </div>
    </div>

    <div class="container-fluid pt-5 last-text">
        <div class="row d-flex justify-content-center">
            <div class="col-8 pb-4">
                <p class="fs-1 text-white">Disponemos de los medios materiales necesarios para la ejecucion de todo tipo de proyectos. Somos una empresa en continua formacion, innovando, investigando y aplicando siempre las ultimas tecnicas constructivas</p>
            </div>
        </div>
    </div>
    
    








