<!--************** Imagen Portada ***************--> 
<div class="container-fluid pb-5 px-0">
    <div class="row mx-0 text-center">
        <div class="container-fluid thumbnail  px-0">
            <img class="cover-img img-fluid" src="../../assets/img/portada_home.jpg" alt="portada">
            <div class="caption">
                <h2 class="titulo-portada">Soluciones Civiles</h2>
            </div>
        </div>    
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <h3 class="bold">¿Quienes somos?</h3>
    </div>
    <div class="row pt-5 d-flex justify-content-center">
        <div class="col-8 ">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iure ex sequi. Consequatur minima sit necessitatibus. Dolorem beatae magni, a ipsam pariatur natus quibusdam qui quidem ullam autem tempore, modi fuga, unde sint? Unde maiores nihil dolore ducimus veniam adipisci. Provident atque iure iusto praesentium fugiat? Tempore eaque voluptatem iusto.</h3>
        </div>
    </div>
</div>

<div class="container pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <iframe style="width:900px;height:800px" src="https://online.fliphtml5.com/iswiu/brfg/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
    </div>
</div>
