<!--************** Imagen Portada ***************--> 
<div class="container-fluid  px-0">
    <div class="row mx-0 text-center">
        <div class="container-fluid thumbnail  px-0">
            <!-- <img class="cover-img img-fluid" src="../../assets/img/portada_home.jpg" alt="portada"> -->
            <video [muted]="true" autoplay class="cover-img img-fluid" loop>
                <source autoplay src="../../assets/Videos/VideoPortada_3.mp4" type="video/mp4">
            </video>
            <div class="caption">
                <h2 class="titulo-portada">Soluciones en Obras Civiles</h2>
            </div>
        </div>    
    </div>
</div><br>

  
  
<div class="container-fluid pb-5 who-we-are">
    <div class="row text-center pt-3">
        <h1 class="bold text-white">¿Quiénes somos?</h1>
    </div>
    <div class="row pt-2 d-flex justify-content-center">
        <div class="col-10 pt-2 d-flex">
            <h4 class="text-white">Somos una empresa de ingeniería liderada por el Ingeniero Oscar Alfredo Maidana y un grupo de colaboradores capacitados,
                con amplia experiencia en todo tipo de proyectos y obras de distinta escala.<br><br>
                <p>* Atendemos personalmente a nuestros clientes.</p>
                <p>* Sabemos escuchar e interpretar sus necesidades, deseos y posibilidades.</p>
                <p>* Contamos con vasta experiencia, mucha dedicación y pasión.</p>
                <p>* Combinamos equilibradamente creatividad y realidad.</p>
            </h4>
        </div>
    </div>
</div>

<!-- ----------------- BANNER PUBLICITARIO ---------------------- -->
<ngb-carousel #myCarousel *ngIf="images">
	<ng-template ngbSlide *ngFor="let image of images">
		<div class="picsum-img-wrapper">
			<img [src]="image" alt="" />
		</div>
	</ng-template>
</ngb-carousel>

<!-- -------------------------------------------------------------- -->

<!-- Tarjetitas -->

<div class="container pb-4 pt-5">
    <div class="row d-flex justify-content-center align-items-stretch">
      <div class="col-10 col-lg-4 d-flex justify-content-center pb-5 flex-grow-1">
        <div class="col tarjetas h-100">
          <h3 class="bold text-center pt-3">Misión</h3><br>
          <div class="row d-flex justify-content-center">
            <div class="col-10">
              <h5 class="text-justify">Somos un equipo de trabajo dedicado a brindar servicios de construcción en diversos rubros. Flexible y ajustable a las necesidades de nuestros clientes.</h5>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-10 col-lg-4 d-flex justify-content-center pb-5 flex-grow-1">
        <div class="col tarjetas h-100">
          <h3 class="bold text-center pt-3">Visión</h3><br>
          <div class="row d-flex justify-content-center">
            <div class="col-10">
              <h5 class="text-justify">Ser una empresa constructora eficiente en la que los clientes puedan confiar trabajando con honestidad, profesionalismo, calidad y competitividad. Siempre respetando los plazos y costos pactados.</h5>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-10 col-lg-4 d-flex justify-content-center pb-5 flex-grow-1">
        <div class="col tarjetas h-100">
          <h3 class="bold text-center pt-3">Compromiso</h3><br>
          <div class="row d-flex justify-content-center">
            <div class="col-10">
              <h5 class="text-justify">Centramos nuestros objetivos en entregar un producto terminado, en el tiempo estipulado. Se garantiza la seguridad en obra y la calidad de los trabajos.</h5>
              <h5 class="text-justify">Trabajar y construir con responsabilidad y honestidad. Nuestro equipo trabaja con el enfoque de mejora continúa para día a día brindar un mejor servicio.</h5>
            </div>
          </div>                  
        </div> 
      </div>
    </div>
  </div>
  

    <!-- Contacto -->
    <div class="container contacto pb-4">
        <div class="row text-center">
            <div class="col">
                <h2 class="bold pt-5">Contáctanos</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center pt-5">
            <div class="col-12 col-lg-6">
                <form [formGroup]="questionForm" (ngSubmit)="sendQuestion()">
                    <div class="row mb-3 justify-content-center mt-3">      
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" class="form-control border-bottom border-0 input-form shadow-none" id="inputName" formControlName="name" placeholder="Nombre"> 
                            </div>  
                            <span class="input-alert" *ngIf="validateControl('name') && hasError('name', 'required')">Debe ingresar el nombre</span>                                     
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-10">
                            <div class="input-group">
                                <input type="email" class="form-control border-bottom border-0 input-form shadow-none" id="inputEmai" formControlName="email" placeholder="E-Mail">
                            </div>
                            <span class="input-alert" *ngIf="validateControl('email') && hasError('email', 'email')">Ingrese un email válido</span>
                            <span class="input-alert" *ngIf="validateControl('email') && hasError('email', 'required')">Debe ingresar el email</span>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-10">
                            <div class="input-group">
                                <textarea class="form-control border-bottom border-0 input-form shadow-none" placeholder="Mensaje" id="inputMessage" rows="4" formControlName="message"></textarea>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="row justify-content-center pb-5 pt-5">
                        <div class="d-grid  col-10">
                            <button type="submit" class="btn btn-send justify-content-center" [disabled]="!questionForm.valid">Enviar mensaje</button>
                        </div>
                    </div>    
                </form> 
            </div>
        </div>
    </div><br>

    <div class="container-fluid pt-5 last-text">
        <div class="row d-flex justify-content-center">
            <div class="col-8 pb-4">
                <p class="fs-2">Disponemos de los medios materiales necesarios para la ejecución de todo tipo de proyectos. </p>
                <p class="fs-2">Somos una empresa en continua formación. Innovando, investigando y aplicando siempre las últimas técnicas constructivas.</p>
            </div>
        </div>
    </div>
    
    








