<footer class="footerGeneralStyle">
    <!-- Grid container -->
    <div class="container pb-0 pt-0">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- <div class="logo"> -->
                    <img src="../../assets/img/Logo_SolucionesEOC_5.png" alt="Soluciones" class="img-fluid">
                <!-- </div> -->
            </div>
        
            <div class="col-12 col-lg-4 socialMedia">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <!-- Instagram -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
                        <i class="bi bi-instagram"></i>
                    </a>
                </section>
            </div>

        
            <div class="col-12 col-lg-4 adresses">
                <h6 style="color:white ;">Paraguay 1471</h6>
                <h5 style="color:white ;">Corrientes - Argentina</h5>
            </div>   
        </div>            
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="row">
            <div class="col d-flex justify-content-end ">
                <h6 class="text-white-50 ">© 2022 Copyright:</h6> 
            </div>
            <div class="col d-flex justify-content-start ps-0">
                <h6 class="text-white-50">Soluciones Civiles</h6>
            </div>   
        </div>
    </div>
    <!-- Copyright -->
</footer>
