<div class="container pt-5">
    <div class="row">
        <div class="col-lg-4 pb-5" *ngFor="let work of listOfworks; let i = index">
            <div class="row">
                <img
                [src]="work[2][0].image"
                (click)="showLightbox(i)"
                class="img-fluid work-image" 
                >
            </div>
            
            <!-- Titulo -->
            <div class="row text-center">
                <h4 class="bold">{{work[0]}}</h4>
            </div>
            <!-- Descripcion -->
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <span>{{work[1]}}</span>
                </div>   
            </div>   
        </div>  

        <ng-image-fullscreen-view
                [images]="actualImages"
                [imageIndex]="currentIndex"
                [show]="showFlag"
                (close)="closeEventHandler()"
                >
            </ng-image-fullscreen-view>
    </div>
    
    <!-- <div class="row">
        <div class="col-lg-4 pb-5">
            <div class="row">
                <img
                [src]="imageObject[0]['image']"
                (click)="showLightbox(0)"
                class="img-fluid work-image" 
                >
                <ng-image-fullscreen-view
                [images]="imageObject"
                [imageIndex]="currentIndex"
                [show]="showFlag"
                (close)="closeEventHandler()"
                >
                </ng-image-fullscreen-view>
            </div>
            <div class="row text-center">
                <h4 class="bold">{{imageObject[0]['title']}}</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <span>{{imageObject[0]['title']}}</span>
                </div>   
            </div>
            
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works2.jpg" alt="works2">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works3.jpg" alt="works3">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works4.jpg" alt="works4">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works5.jpg" alt="works5">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works6.jpg" alt="works6">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
    </div> -->
</div>
