<div class="container pt-5">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <div class="row">
                <img class="img-fluid work-image" src="../../assets/img/works.jpg" alt="works">
            </div>
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <!-- <button class="btn btn-dark ">Ver mas</button> -->
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works2.jpg" alt="works2">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <!-- <button class="btn btn-dark ">Ver mas</button> -->
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works3.jpg" alt="works3">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <!-- <button class="btn btn-dark ">Ver mas</button> -->
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works4.jpg" alt="works4">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <!-- <button class="btn btn-dark ">Ver mas</button> -->
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works5.jpg" alt="works5">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <!-- <button class="btn btn-dark ">Ver mas</button> -->
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <img class="img-fluid work-image" src="../../assets/img/works6.jpg" alt="works6">
            <div class="row text-center">
                <h4 class="bold">Titulo del proyecto</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <!-- <button class="btn btn-dark ">Ver mas</button> -->
                    <p>Esto es una descripcion...Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, quae.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <section>
                
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Launch demo modal
        </button>
        
        
        <div class="modal fade modal-lg" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid modal-image" src="../../assets/img/works.jpg" alt="works">
                </div>
            </div>
            </div>
        </div>
    </section> -->


</div>
